# Remove the Bazel artifacts stuff.
/bazel-*

# IDE stuff that can differ between PCs and platforms
/.vscode

# Compilation database can get quite large, but can be generated locally if required
compile_commands.json